---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon'
import { Sprite } from 'astro-icon'

export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}

const { heading = "About Me", showExtra = false } = Astro.props as Props;
---
<Layout title="About Me | Alriya">
  <section class="flex flex-col xl:flex-row gap-4 justify-center items-center min-h-screen
   text-blue-950 dark:text-teal-200 dark:bg-blue-950 bg-teal-200">
    <div class="h-auto hidden w-[30%] xl:w-[40%] mt-16 xl:m-12 sm:grid place-content-center">
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player 
        src="https://assets2.lottiefiles.com/packages/lf20_S7MPp62oJF.json"
        background="transparent"
        class="w-[400px]"
        speed="1"
        loop
        autoplay
      ></lottie-player>
    </div>
    <div class="flex flex-col justify-center px-8 sm:px-12 mt-16 sm:mt-0 xl:pr-32 xl:mt-16 pb-8">
      <h1 class="font-bold text-5xl my-8 text-center">{heading}</h1>
      <p class="my-2">Hi there! <strong>I'm Alriya.</strong> I study Computer Science Engineering at St Josepth Engineering College. I'm a fan of Free and Open Source Software, and Web Design.</p>
      <p class="my-2">&emsp;&emsp;I am currently learning some cool new tools like Astro, Svelte, React, and Django. I enjoy participating in hackathons, which are events where people get together to work on creative tech projects. I've been part of some cool ones like HackToFuture and SJEC's Premiere Hackathon (of which I have also been an organiser). I'm comfortable coding in Python, Java, C++, and C, so I can tackle all kinds of programming tasks.</p>
      <p class="my-2">&emsp;&emsp;Along with that, I also happen to be the secretary of <strong>The sceptix club</strong> - A FOSS club here at my college. Overall, I'm a curious and motivated person who's always looking for new challenges. Whether it's organizing events or building websites, I like to push myself and learn new things.</p>
      <div class="flex justify-start items-end gap-2 my-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-blue-950 dark:fill-teal-200 w-8" viewBox="0 0 24 24">
          <path d="M12 0.585938L18 6.58594V9.00024H22V19.0002H23V21.0002H1V19.0002H2V9.00024H6V6.58594L12 0.585938ZM18 19.0002H20V11.0002H18V19.0002ZM6 11.0002H4V19.0002H6V11.0002ZM8 7.41436V19.0002H11V12.0002H13V19.0002H16V7.41436L12 3.41436L8 7.41436Z"></path>
        </svg><h2 class="text-3xl font-semibold">My Education</h2>
      </div>
      <ul class="list-disc">
        <li>Elementary School - G M Vidyaniketan Public School</li>
        <li>Secondary School - S.M.S English Medium school</li>
        <li>Pre-University Course - Little Rock Indian school</li>
        <li>Bachelor of Engineering in Computer Science and Engineering - St Joseph Engineering College</li>
      </ul>
      <div class="flex justify-start items-end gap-2 mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-blue-950 dark:fill-teal-200 w-8" viewBox="0 0 24 24"><path d="M13 21V23H11V21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H9C10.1947 3 11.2671 3.52375 12 4.35418C12.7329 3.52375 13.8053 3 15 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H13ZM20 19V5H15C13.8954 5 13 5.89543 13 7V19H20ZM11 19V7C11 5.89543 10.1046 5 9 5H4V19H11Z"></path></svg>
        <h2 class="text-3xl font-semibold">My Hobbies</h2>
      </div>
      <p class="my-4">
        Coding, Singing, Listening to Music, and Reading books.
      </p>
    </div>
  </section>
</Layout>
