---
import Layout from '../layouts/Layout.astro';
const url = "https://alriya-treeza-dsouza-portfolio.vercel.app/";

export interface Props {
  heading?: string;
  text?: string;
}
const { heading = "My Projects"} = Astro.props as Props;
---
<Layout title="My Projects | Alriya">
  <section class="p-12 flex flex-col gap-4 justify-center items-center min-h-screen
  text-blue-950 dark:text-teal-200 dark:bg-blue-950 bg-teal-200" >
    <div class="grid place-items-center border-4 border-blue-950 dark:border-teal-300">
        <h1 class="py-2 font-semibold text-xl w-full text-center border-b-4 border-blue-950 dark:border-teal-300  ">
          My Portfolio
        </h1>
        <iframe src={url} title="My portfolio" width="800" height="450" allowfullscreen></iframe>
    </div>
  </section>
</Layout>