<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <li><a href="/">Alriya</a></li>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/rulebook">Rulebook</a></li>
        <li><a href="/registration">Register</a></li>
        <li><a href="/blog">blog</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .container .

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: #fff;
}

.header a{
  color: #fff;
}
</style>