---
import Toggle from './ThemeChange.astro';
---
<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <li><a href="/">🍪Alriya</a></li>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/rulebook">Projects</a></li>
        <li><a href="/registration">GiHub</a></li>
        <li><a href="/registration">Resume</a></li>
        <Toggle />
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
  height: 70px;
  background: var(--color-primary);
  font-size: large;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header .container .

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 10px;
}

.header nav ul li a {
  color: black;
}

.header a{
  color: black;
}

[data-theme="light"] {
    --color-bg: #f2f2f2;
    --color-text: #444444;
    --bold-text: #222;
    --nav-text: #000000;
    --code: #f2f2f2;
    --block-quote-border: #999;
    --block-quote-text: #222;
    --slider-bg: #dddddd;
    --slider-bg-before: #fff;
    --slider-input-bg: #8758ff;
  }
  
  [data-theme="dark"] {
    --color-bg: #000;
    --color-text: #dddddd;
    --bold-text: #eeeeee;
    --nav-text: #dddddd;
    --code: #f2f2f2;
    --block-quote-border: #8e32dc;
    --block-quote-text: #dddddd;
  }
</style>